{% extends "base.html" %}
{% block content %}
<div class="mui-container">
<div class="mui--text-title">About Knackwurst</div>
<article>
<div class="mui--text-subhead">Bio</div>
<p>Praesent at purus dolor. Integer viverra purus felis, et bibendum elit interdum vel. Praesent magna sapien, scelerisque ultrices viverra in, viverra sit amet mauris. Aliquam sed eros in augue varius lobortis ac non ex. Curabitur posuere in tortor vitae lacinia. Integer tempus dignissim ante, in pulvinar magna lacinia sed. Vivamus aliquet vitae libero ac tincidunt. Mauris lobortis risus sit amet consequat vestibulum. Pellentesque ut mi dignissim, fermentum odio dignissim, vehicula tellus. Vestibulum quam ipsum, dictum et leo quis, maximus pretium mi. Sed a metus laoreet, faucibus libero sed, interdum augue. Etiam commodo nisl at nulla euismod, sit amet gravida orci consequat.</p>
</article>
</div>
{% endblock %}
